﻿@{
    Layout = null;
    var grandTotal = ViewBag.grandTotal;
  
}
@model List<ReimburseSystem.Data.Book>
<style>


.border {
    border:1px solid black;
    text-align:center;
}




</style>

<table style="width:100%;padding-top:30px;">
  <tr>
    <th class="border">Book ID</th>
    <th class="border">Title</th>
    <th class="border">Author</th>
    <th class="border">Type</th>
    <th class="border">Price (Day)</th>
  </tr>
      @if(Model!=null){
        foreach(var item in Model){
            <tr>
                <td class="border">@item.ID</td>
                <td class="border">@item.Title</td>
                <td class="border">@item.Author</td>
                <td class="border">@item.Type</td>
                <td class="border">@item.Price</td>
            </tr>
        }
      }
</table>
