﻿<div id="content" class="content">
    <button type="button" class="sendPDF" onclick="sendPDF();">Send PDF</button>
</div>


<script type="text/javascript">
    var uris = '/report/listReportAction';
    function sendPDF() {
        $.ajax({
            url: uris,
            type: "POST",
            async: false,
            success: function (result) {
                alert(result);
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }

</script>


