﻿@{
    Layout = null;
    var grandTotal = ViewBag.grandTotal;
  
}
@model List<ReimburseSystem.Web.Models.BookModels>
<style>


.border {
    border:1px solid black;
    text-align:center;
}




</style>

<table style="width:100%;padding-top:30px;">
  <tr>
    <th class="border">Title</th>
    <th class="border">Author</th>
    <th class="border">Type</th>
    <th class="border">Price (Day)</th>
    <th class="border">Count Days</th>
    <th class="border">Subtotal</th>
  </tr>
      @if(Model!=null){
        foreach(var item in Model){
            <tr>
                <td class="border">@item.Title</td>
                <td class="border">@item.Author</td>
                <td class="border">@item.Type</td>
                <td class="border">@item.Price</td>
                <td class="border">@item.CountDays</td>
                <td class="border">@item.Subtotal</td>
            </tr>
        }
        <tr>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td class="border">GrandTotal Rent</td>
            <td class="border">@grandTotal</td>
        </tr>
      }
</table>
