﻿@{
    string urlReq = Request.RawUrl;
    string domain = ReimburseSystem.Common.SiteSetting.Domain;
    string userId = ReimburseSystem.Common.Cookie.CookieManager.GetValue("login");
    string username = ReimburseSystem.Common.Cookie.CookieManager.GetValue("Username");
    string userIds = ReimburseSystem.Common.Cookie.CookieManager.GetValue("login");

}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />*@
    <link href="/assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/assets/css/style.min.css" rel="stylesheet" />
    <link href="/assets/css/style-responsive.min.css" rel="stylesheet" />
    @*<link href="~/assets/js/summernote-master/dist/summernote.css" rel="stylesheet" />*@
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="/assets/plugins/DataTables-1.9.4/css/data-table.css" rel="stylesheet" />
    <link href="/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="/assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="/assets/css/fileinput.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/Js/tinymce/jscripts/tiny_mce/plugins/imagemanager/js/mcimagemanager.js"></script>
    <link href="/Assets/plugins/Parsley.js-2.8.1/src/parsley.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <script src="/assets/plugins/ckeditor/ckeditor.js"></script>

    @RenderSection("plcPageHeader", required: false)
</head>
<body>
    
    @*@Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/jqueryui")*@

    <!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid"> 
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="@Url.Action(MVC.Users.Index())" class="navbar-brand">Reimburse System</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				
				<!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.Cookies["Login"].Value != null)
                    {
                        <li class="dropdown navbar-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                @*<img src="areas/cmsadmin/assets/img/user-11.jpg" alt="" />*@
                                <span class="hidden-xs">Hai, @Request.Cookies["Username"].Value</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu animated fadeInLeft">
                                <li><a href="@Url.Action(MVC.Users.LogOut())">Log Out</a></li>
                            </ul>
                        </li>
                    }
                </ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->

                @{
                    Html.RenderAction(MVC.Widget.Sidebar()); 
                }   

                <input type="hidden" name="requrl" id="requrl" value="@urlReq" />
                <input type="hidden" name="domain" id="domain" value="@domain" />
				<!-- end sidebar user -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<!-- end #sidebar -->
		
        @RenderBody()
		

        <!-- modal -->
        <div class="modal fade" id="modal-alert">
		    <div class="modal-dialog">
			    <div class="modal-content">
				    <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h4 class="modal-title">Error Message</h4>
				    </div>
				    <div class="modal-body">
					    <div class="alert alert-danger m-b-0">
						    <h4><i class="fa fa-info-circle"></i> Alert Header</h4>
						    <p><span id="error-message">test</span></p>
					    </div>
				    </div>
				    <div class="modal-footer">
					    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
				    </div>
			    </div>
		    </div>
	    </div>


        <!-- modal -->
        <div class="modal fade" id="modal-alert-success">
		    <div class="modal-dialog">
			    <div class="modal-content">
		            <div class="modal-header">
			            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
			            <h4 class="modal-title">Success</h4>
		            </div>
		            <div class="modal-body" style="background-color: #90EE90;font-weight: bold;">
			            <p><span id="success-message">Data successfully updated</span></p>
		            </div>
		            <div class="modal-footer">
			            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
		            </div>
	            </div>
		    </div>
	    </div>


		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
    
    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <!-- ================== BEGIN BASE JS ================== -->
	<script src="/assets/plugins/jquery-1.8.2/jquery-1.8.2.min.js"></script>
	 <script src="/assets/Js/jquery.nestable.js"></script>
     @*<script src="~/assets/js/summernote-master/dist/summernote.min.js"></script>*@
    <script src="/assets/plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"></script>
	<script src="/assets/plugins/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
    @*<script src="~/assets/js/parsley.min.js"></script>*@
	<script src="/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js"></script>
	<script src="/assets/plugins/DataTables-1.9.4/js/data-table.js"></script>   
    <script src="~/assets/js/fileinput.min.js"></script>

    <script src="~/Assets/plugins/Parsley.js-2.8.1/dist/parsley.min.js"></script>
    <script src="~/assets/js/form-wizards.demo.min.js"></script>
	<script src="/Assets/js/apps.min.js"></script>
    

	<!-- ================== END PAGE LEVEL JS ================== -->
    <script src="/Assets/Js/cms.js"></script>
     <script src="/Assets/Js/main.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
            //FormWizard.init();
        });

     </script>

    @RenderSection("Scripts", false)
</body>
    	
</html>
