html {
	background: transparent url(../../img/bgs/back-orange.png) repeat-x 0 0;
	min-height: 100%;
	background-size: 500% 500%;
	/*-webkit-background-size: cover;*/
}
body {
	background: none;
}
.navbar-inverse .navbar-inner {
	background: #152943;
	border: 1px solid transparent;
	box-shadow: none;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 9999;
    min-width: 960px;
}
.navbar-inverse .notification-dropdown .count {
	background: rgb(252, 130, 123);
}


/* sidebar */
#sidebar-nav.display { 
	background: transparent url(../../img/bgs/back-orange.png) repeat-x 0 0;
	background-size: 100% 100%;
	box-shadow: none;
}
#dashboard-menu > li.active > a, 
#dashboard-menu > li > a:hover {
	color: #fff;
	text-shadow: none;
}
#dashboard-menu > li > a {
	color: rgb(190, 190, 190);
	box-shadow: none;
	border: 0px;
}
#dashboard-menu a i {
	opacity: 0.6;
}
#dashboard-menu a i.icon-chevron-down {
	color: #fff;
}
#dashboard-menu ul.submenu {
	border-bottom: 0px;
	box-shadow: 0 2px 1px -1px rgb(75, 101, 136);
}
#dashboard-menu ul.submenu a {
	text-shadow: none;
	color: rgb(211, 211, 211);
}

.content {
	box-shadow: none;
}


