﻿@model ReimburseSystem.DataAPI.Model.EmployeeModel
@using ReimburseSystem.Common
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string buttonType = string.Empty;
    if (Model.ID != Guid.Empty)
    {
        buttonType = "Save";

        ViewBag.Title = "User | Edit User";
    }
    else
    {

        ViewBag.Title = "User | Add User";
        buttonType = "Submit";
    }

    string role = Request.Cookies["Role"].Value;
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Users.Index())">Home</a></li>
        <li><a href="@Url.Action(MVC.Users.IndexTable())">User List</a></li>
        @if (Model.ID != Guid.Empty)
        {
            <li class="active">Edit User</li>
        }
        else
        {
            <li class="active">Add User</li>
        }

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    @if (Model.ID != Guid.Empty)
    {
        <h1 class="page-header">Edit User</h1>
    }
    else
    {
        <h1 class="page-header">Add User</h1>
    }
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12 ui-sortable">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(MVC.Users.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "formadduser" }))
                    {

                        @Html.HiddenFor(x => x.ID)
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nik :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Nik, new { @class = "form-control required", placeholder = "Nik", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Name :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.EmployeeDetail.Name, new { @class = "form-control required", placeholder = "Name", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Mobile Phone :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.EmployeeDetail.MobilePhone, new { @class = "form-control required", placeholder = "Mobile Phone", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Job Class :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.EmployeeDetail.JobClass, new { @class = "form-control required", placeholder = "Job Class", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Department :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.EmployeeDetail.Department, new { @class = "form-control required", placeholder = "Department", @required = "required" })
                            </div>
                        </div>

                        if (!string.IsNullOrEmpty(role) && role == Constant.UserRole.Administrator)
                        {
                            <div class="form-group">
                                <label class="col-md-3 control-label">Join Date :</label>
                                <div class="col-md-9">
                                    @*@if (Model.EmployeeDetail != null && Model.EmployeeDetail.JoinDate != null)
                                    {
                                        <input type="text" class="form-control datepick" name="JoinDate" id="JoinDate" value="@Model.EmployeeDetail.JoinDate">
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control datepick" name="JoinDate" id="JoinDate">
                                    }*@
                                    @Html.TextBoxFor(m => m.EmployeeDetail.JoinDate, "{0:yyyy-MM-dd}", new { type = "date" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Password :</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control required", placeholder = "Password", @required = "required" })
                                </div>
                            </div>

                        }



                        <div class="form-group">
                            <label class="col-md-3 control-label">Role :</label>
                            <div class="col-md-9">
                                <select class="form-control" name="Role">
                                    @if (Model.Role != null)
                                    {
                                        if (Model.Role == Constant.UserRole.Administrator)
                                        {
                                            <option value="@Constant.UserRole.Administrator" selected>@Constant.UserRole.Administrator</option>
                                            <option value="@Constant.UserRole.Employee">@Constant.UserRole.Employee</option>
                                        }
                                        else
                                        {
                                            <option value="@Constant.UserRole.Administrator">@Constant.UserRole.Administrator</option>
                                            <option value="@Constant.UserRole.Employee" selected>@Constant.UserRole.Employee</option>
                                        }

                                    }
                                    else
                                    {
                                        <option value="@Constant.UserRole.Administrator">@Constant.UserRole.Administrator</option>
                                        <option value="@Constant.UserRole.Employee">@Constant.UserRole.Employee</option>

                                    }

                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-sm btn-success">@buttonType</button>
                                <a href="@Url.Action(MVC.Users.IndexTable())"> <button type="button" class="btn btn-sm btn-success">Close</button> </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>
<!-- end #content -->


@section scripts{
    <script>



    </script>
}