﻿@model List<ReimburseSystem.DataAPI.Model.EmployeeModel>
@using ReimburseSystem.Common
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 1;

    // search criteria default.
    var searchCriteriaTxt = ViewBag.SearchCriteriaTxt != null ? ViewBag.SearchCriteriaTxt.ToString() : "";
    var moreCriteria = ViewBag.MoreCriteria != null ? ViewBag.MoreCriteria.ToString() : "";
    // additional criteria.
    var isDeleted = ViewBag.IsDeleted != null ? ViewBag.IsDeleted.ToString() : "False";

}

<style>

    .filter-block {
        padding-bottom: 25px;
        width: 100%;
    }

    .filter {
        margin-top: 10px;
        display: inline-block;
        padding-right: 13px;
        height: 30px;
    }

    .item-label {
        margin-left: 5px;
    }
</style>

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Users.Index())">Home</a></li>
        <li class="active">User List</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Manage User</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">User List</h4>
                </div>
                <div class="panel-body">

                    <div class="filter-block">
                        <div class="filter">
                            <input style="width:292px;" class="filter" id="SearchCriteriaTxt" type="text" value="@searchCriteriaTxt" placeholder="Search">
                        </div>

                        @if (ViewBag.Role != null && ViewBag.Role == Constant.UserRole.Administrator)
                        {
                            @* is deleted *@
                            <div class="filter sub_criteria">
                                <div class="btn-group sub-criteria is-deleted">
                                    <button class="btn btn-default" type="button" data-toggle="dropdown">
                                        <span>Is Deleted:</span>
                                        <span><strong class="append-check">All</strong></span>
                                    </button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu" id="ul-is-deleted">
                                        <li><label class="item-label"><input type="checkbox" value="All" class="checkall"><span> All</span></label></li>
                                        <li><label class="item-label"><input type="checkbox" value="False"><span> No</span></label></li>
                                        <li><label class="item-label"><input type="checkbox" value="True"><span> Yes</span></label></li>
                                    </ul>
                                </div>
                            </div>

                            @* more criteria *@
                            <div class="filter more_criteria">
                                <div class="btn-group more-criteria">
                                    <button class="btn btn-primary" type="button" data-toggle="dropdown">More Criteria</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></button>
                                    <ul class="dropdown-menu" role="menu" id="ul-more-list">
                                        <li><label class="item-label"><input type="checkbox" value="is-deleted" name="is-deleted"><span> Is Deleted</span></label></li>
                                    </ul>
                                </div>
                            </div>

                            @* search button. *@
                            <div class="filter">
                                <button class="btn btn-primary" type="button" id="SearchBtn">
                                    Filter
                                </button>
                            </div>

                            <div class="filter">
                                <a href="@Url.Action(MVC.Users.AddEdit(Guid.Empty))">
                                    <button class="btn btn-primary" type="button" id="AddUserBtn">
                                        Add New
                                    </button>
                                </a>
                            </div>
                        }
                        @if (ViewBag.Role != null && ViewBag.Role == Constant.UserRole.Renter)
                        {
                            <div class="filter">
                                <button class="btn btn-primary" type="button" id="SearchBtn">
                                    Filter
                                </button>
                            </div>
                        }
                    </div>


                    <div class="table-responsive">
                        <table id="data-tables" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>No. </th>
                                    <th>Nik</th>
                                    <th>Role</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    string deleted = string.Empty;
                                    if (item.IsDeleted)
                                    {
                                        deleted = "style=background:red;color:white";
                                    }

                                    <tr class="odd gradeX">
                                        <td @deleted>@index</td>
                                        <td @deleted><a href="@Url.Action(MVC.Users.AddEdit(item.ID))">@item.Nik</a></td>
                                        <td @deleted>@item.Role</td>
                                        <td @deleted>
                                            @if (!item.IsDeleted)
                                            {
                                                <a onclick="DeleteItem('@item.ID');"><img src="/assets/img/bin.gif" class="pointer" /></a>
                                            }
                                        </td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->


<script src="@Links.Assets.Js.filter_js"></script>
@section scripts{
    <script>
     var filterController = new FilterController();
     filterController.redirectUrl = "@Url.Action(MVC.Users.IndexTable())";
     filterController.objMoreList = '@moreCriteria';
     filterController.objIsDeleted = '@isDeleted';


     $('.sub-criteria').hide();
     filterController.Initialise();

     $('#data-tables').dataTable({
         "bFilter": false,
         "bInfo": false
     });

    function DeleteItem(itemID) {
        if (confirm("Are you sure you want to delete this User?")) {
            self.location = "@(Url.Action(MVC.Users.Delete()))?id=" + itemID;
        }
    }

    if ('@ViewBag.Message' == 'SuccessSave') {
        $('#success-message').html('Data successfully inserted');
        $('#modal-alert-success').modal('show');
    } else if ('@ViewBag.Message' == 'SuccessUpdate') {
        $('#success-message').html('Data successfully updated');
        $('#modal-alert-success').modal('show');
    } else if ('@ViewBag.Message' == 'SuccessDelete') {
        $('#success-message').html('Data successfully deleted');
        $('#modal-alert-success').modal('show');
    } else if ('@ViewBag.Message' == 'Auth Error') {
        $('#error-message').html('Only Admin can delete others');
        $('#modal-alert').modal('show');
    } else if ('@ViewBag.Message' == 'Error') {
        $('#error-message').html('Error');
        $('#modal-alert').modal('show');
    }




    </script>
}