﻿@{
    Layout = MVC.Shared.Views._Layout;

    ViewBag.Title = "Home";
}

<h1 align="center">Welcome</h1>

<p align="center">
    <br />You can rent book from the left hand side navigation menu and from the list below.<br />
</p>

