﻿@model ReimburseSystem.DataAPI.Model.ReimburseModel
@using ReimburseSystem.Common
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string buttonType = string.Empty;
    if (Model.ID != Guid.Empty)
    {
        buttonType = "Save";

        ViewBag.Title = "Reimburse | Edit Reimburse";
    }
    else
    {

        ViewBag.Title = "Reimburse | Add Reimburse";
        buttonType = "Submit";
    }

    string role = Request.Cookies["Role"].Value;
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Users.Index())">Home</a></li>
        <li><a href="@Url.Action(MVC.Users.IndexTable())">User List</a></li>
        @if (Model.ID != Guid.Empty)
        {
            <li class="active">Detail Reimburse</li>
        }
        else
        {
            <li class="active">Add Reimburse</li>
        }

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    @if (Model.ID != Guid.Empty)
    {
        <h1 class="page-header">Detail Reimburse</h1>
    }
    else
    {
        <h1 class="page-header">Add Reimburse</h1>
    }
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12 ui-sortable">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(MVC.Reimburse.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "formaddreimburse" }))
                    {

                        @Html.HiddenFor(x => x.ID)
                        <div class="form-group">
                            <label class="col-md-3 control-label">ReimburseNo :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ReimburseNo, new { @class = "form-control required", placeholder = "ReimburseNo", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Total Claim :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ReimburseDetail.FirstOrDefault().TotalClaim, new { @class = "form-control required", placeholder = "Total Claim", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Reimburse Type :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ReimburseDetail.FirstOrDefault().ReimburseType.Name, new { @class = "form-control required", placeholder = "Reimburse Type", @required = "required" })
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                @if (!string.IsNullOrEmpty(role) && role == Constant.UserRole.Administrator)
                                {
                                <button type="submit" class="btn btn-sm btn-success">@buttonType</button>
                                }
                                <a href="@Url.Action(MVC.Users.IndexTable())"> <button type="button" class="btn btn-sm btn-success">Close</button> </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>
<!-- end #content -->


@section scripts{
    <script>



    </script>
}