﻿@model string
<!-- navbar -->
<div class="navbar navbar-inverse">

    <div class="navbar-inner" style="height:66px;">
        @{Html.RenderAction(MVC.Widget.Sidebar());}
        <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a cremotgelass="brand" href="@Url.Action(MVC.Users.Index())">
            <img src="@Links.Assets.Img.logo_png" style="position: absolute; top: -2px; z-index: 99; left:0;">
        </a>

        <ul class="nav pull-right">
            @*<li><a href="@Url.Action(MVC.Admin.Account.Personal())">Personal info</a></li>*@
            <li></li>
            <li><a href="@Url.Action(MVC.Users.LogOut())">Log Out</a></li>
        </ul>

        <ul class="nav pull-right">
            @*<li><a href="@Url.Action(MVC.Admin.Account.Personal())">Personal info</a></li>*@
            <li></li>
            <li><span class="navbar-username">Welcome, @Model</span></li>
        </ul>

       
    </div>



</div>
  <script type="text/javascript">
       

        $(document).ready(function () {
           
          
        });
    </script>