﻿@{
    string urlReq = HttpContext.Current.Request.Url.AbsoluteUri.ToLower() + "/";
    string role = ViewBag.Role;
}
@using ReimburseSystem.Common


<!-- begin sidebar nav -->


<ul class="nav">

    <li class="nav-header">Navigation</li>

    <li class="has-sub active">
        <a href="javascript:;">
            <i class="fa fa-suitcase"></i>
            <b class="caret pull-right"></b>
            <span>Master</span>
        </a>
        <ul class="sub-menu">

            @if (urlReq.ToLower().Contains("users"))
            {
                <li class="active"><a href="@Url.Action(MVC.Users.IndexTable()))">User</a></li>
            }
            else
            {
                <li><a href="@Url.Action(MVC.Users.IndexTable()))">User</a></li>
            }


            @if (role == Constant.UserRole.Administrator)
            {
                if (urlReq.ToLower().Contains("reimbursetype"))
                {
                    <li class="active"><a href="">Reimburse Type</a></li>
                }
                else
                {
                    <li><a href="">Reimburse Type</a></li>
                }

                if (urlReq.ToLower().Contains("reimbursebudget"))
                {
                    <li class="active"><a href="">Reimburse Budget</a></li>
                }
                else
                {
                    <li><a href="">Reimburse Budget</a></li>
                }
            }

        </ul>

        <a href="javascript:;">
            <i class="fa fa-suitcase"></i>
            <b class="caret pull-right"></b>
            <span>Main</span>
        </a>
        <ul class="sub-menu">

            @if (urlReq.ToLower().Contains("reimburse"))
            {
                <li class="active"><a href="@Url.Action(MVC.Reimburse.Index())">Reimburse</a></li>
            }
            else
            {
                <li><a href="@Url.Action(MVC.Reimburse.Index())">Reimburse</a></li>
            }

        </ul>


        <a href="javascript:;">
            <i class="fa fa-suitcase"></i>
            <b class="caret pull-right"></b>
            <span>Report</span>
        </a>
        <ul class="sub-menu">
            <li class="active"><a href="">Reimburse Report</a></li>
            @*@if (urlReq.ToLower().Contains("report"))
        {
            <li class="active"><a href="@Url.Action(MVC.Rent.Reporting())">Rent Report</a></li>
        }
        else
        {
            <li><a href="@Url.Action(MVC.Rent.Reporting())">Rent Report</a></li>
        }*@
        </ul>
    </li>

    <!-- begin sidebar minify button -->
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    <!-- end sidebar minify button -->
</ul>
<!-- end sidebar nav -->

<script>
    function selectOption() {
        var id = document.getElementById("list-clients").options[document.getElementById("list-clients").selectedIndex].id;
        $.ajax({
            url: '@Url.Action("setCookieClientID", "Widget")'+'?ID=' + id,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            processData: false,
            success: function (result) {
                location.reload();
            },
            error: function (err, ex, msg) {
                alert("error set cookie clientID");
            }
        });
    }
</script>
