@import "styler.css";
body {font-family:Helvetica, Arial, sans-serif;margin:0;text-align:center;font-size:62.5%;}

img {display:block;}
a img {border:0;}

h1, h2, h3, h4, h5, h6, p, div.p, ul {margin:0;text-align:left;}
ul ul, ol ol, ol ul, ul ol {font-size:1em;}
ol {margin:0;padding:0 0 0 25px;}
ul {margin:0;padding:0 0 0 15px;}
li {font-size:1em;margin:0;padding:0;}
td, th {margin:0;padding:0;vertical-align:top;}
table {border-collapse:collapse;font-size:1em;margin:0;padding:0;}
input, select, textarea, label, button {font-family:Arial;font-size:11px;}
button {cursor:pointer;}
h1 {font-size:1.9em;}
h2 {font-size:1.4em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em;}
ul, p, div.p, label {font-size:1.1em;}
h5 {font-size:0.9em;}
h6 {font-size:0.8em;}
a {color:#000000;}
p {padding:0 0 1em;}

.u {text-decoration:underline;}
.i {font-style:italic;}
.b {font-weight:bold;}

.ImgL {float:left;}
.ImgR {float:right;}
.TextRed {color:#FF0000;}
.TextGreen {color:#00FF00;}
.Clear {clear:both;display:block;font-size:0px;height:0px;margin:0;padding:0;border:0;line-height:0;overflow:hidden;}

.Page {text-align:left;}

.Page a {font-size:1em;}

#Page .FullWidth {width:100%;}



