
@import "default.css";

.clearFloat{
	clear: both;
}

/* skin -------------------------------------------------------------------------------------------------------------------------------*/

body{
	background: #eaeaea url(../images/layout/body105_bkg.jpg) repeat-x 0 0;
	
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	padding: 0;
	margin: 0;
}

a img { border: none; }

.outer_wrapper{
	background: transparent url(../images/layout/outer_wrapper105_bkg.jpg) no-repeat top center;
}
.watermarked 
{
    color: #999;
}
.wrapper{
	/*width: 980px;*/
	width: 1000px;
	margin: 0 auto;
}

.wrapper .header{
	/*height: 119px;*/
	height: 105px;
}

.wrapper .header *{
	margin: 0;
	padding: 0;
}

.wrapper .header .logo{
	float: left;
	/*height: 119px;*/
	height: 105px;
	width: 205px;
	text-indent: -9000px;
}

/* header nav --------------------------------------------------------------------------*/

.wrapper .header .header_nav{
	float: right;
	display: inline;
	margin: 20px 5px 0 0;
	list-style-type: none;
}

.wrapper .header .header_nav li{
	float: left;
}

.wrapper .header .header_nav li a{
	float: left;
	height: 13px;
	line-height: 13px;
	padding: 0 10px;
	border-right: 1px solid #8e9aa1;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #8e9aa1;
	text-decoration: none;
}

.wrapper .header .header_nav li a.last{
	border-width: 0;
}

.wrapper .header .header_nav li a:hover{
	text-decoration: underline;
}

.wrapper .header .login_meta{
    float: right;
    clear: right;
    padding-right: 15px;
    margin-top: 50px;
}

.wrapper .header .login_meta *{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    color: #8e9aa1;
}

.wrapper .header .login_meta .status{
    margin-right: 5px;
}

.wrapper .header .login_meta .datetime{
    margin-left: 5px;
}

/* header nav ------------------------------------------------------*/

.wrapper .content_header{
	height: 50px;
}

.wrapper .content_header *{
	margin: 0;
	padding: 0;
}

.wrapper .content_header p.status{
	float:left;
	height: 50px;
	line-height: 50px;
	
	font-size: 12px;
	color: #326694;
}

.color555555{
	font-weight: bold;
	color: #555555;
}

.wrapper .content_header p.meta{
	float:right;
	height: 50px;
	line-height: 50px;
	
	font-size: 12px;
	color: #666666;
}

/* content --------------------------------------------------------------------------*/

.wrapper .content{
    padding-top: 25px;
}

/* left col--------------------------------------------------------------------------*/

.wrapper .content .leftCol{
	float: left;
	width: 217px;
	/*width: 190px;*/
}

.wrapper .content .leftCol *{
	margin: 0;
	padding: 0;
}



/* left nav --------------------------------------------------------------------------*/





.wrapper .content .leftCol .left_nav ul{
    list-style-type: none;
}

.wrapper .content .leftCol .left_nav ul *{
	margin: 0;
	padding:0;
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#555555;
	
}

.wrapper .content .leftCol .left_nav ul li{
    
    
    
}



.wrapper .content .leftCol .left_nav ul li a{
	display: block;
	height: 42px;
	text-decoration:none;
	background: transparent url(../images/leftnav_bkg_sprite.gif) no-repeat left -47px; 
}

.wrapper .content .leftCol .left_nav ul li.first a,
.wrapper .content .leftCol .left_nav ul li.firstactive a{
	display: block;
	height: 47px;
	background-position: 0 0;
}

.wrapper .content .leftCol .left_nav ul li.last a,
.wrapper .content .leftCol .left_nav ul li.lastactive a{
	display: block;
	height: 50px;
	background-position: 0 -89px;
}

.wrapper .content .leftCol .left_nav ul li a:hover, 
.wrapper .content .leftCol .left_nav ul li.active a{
	background-position: 0 -198px;
}

.wrapper .content .leftCol .left_nav ul li.first a:hover, 
.wrapper .content .leftCol .left_nav ul li.firstactive a{
	
	background-position: 0 -151px;
	
}

.wrapper .content .leftCol .left_nav ul li.last a:hover, 
.wrapper .content .leftCol .left_nav ul li.lastactive a{
	
	background-position: 0 -240px;
}





.wrapper .content .leftCol .left_nav ul li a span{
	display: block;
	line-height: 42px;
	height: 42px;
	
	padding:0 10px 0 45px;
	
	background-image: url(../images/leftnav_icons_sprite.gif);
	background-repeat: no-repeat;
}




.wrapper .content .leftCol .left_nav ul li.first a span,
.wrapper .content .leftCol .left_nav ul li.firstactive a span{
	line-height: 47px;
	height: 47px;
}

.wrapper .content .leftCol .left_nav ul li.last a span,
.wrapper .content .leftCol .left_nav ul li.lastactive a span{
	line-height: 50px;
	height: 50px;
}


.wrapper .content .leftCol .left_nav ul li.active a span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a span,
.wrapper .content .leftCol .left_nav ul li.lastactive a span,
.wrapper .content .leftCol .left_nav ul li a:hover span{
	color:#2F5B82;
}

.wrapper .content .leftCol .left_nav ul li a.content span{
	background-position: 10px -14px;
}

.wrapper .content .leftCol .left_nav ul li a.assets span{
	background-position: 10px -642px;
}

.wrapper .content .leftCol .left_nav ul li a.newsletter span{
	background-position: 10px -62px;
}

.wrapper .content .leftCol .left_nav ul li a.orders span{
	background-position: 10px -60px;
}

.wrapper .content .leftCol .left_nav ul li a.social span{
	background-position: 10px -438px;
	
}

.wrapper .content .leftCol .left_nav ul li a.navigation span{
	background-position: 10px -102px;
}

.wrapper .content .leftCol .left_nav ul li a.settings span{
	background-position: 10px -143px;
}

.wrapper .content .leftCol .left_nav ul li a.spider span{
	background-position: 10px -186px;
}

.wrapper .content .leftCol .left_nav ul li a.user_management span{
	background-position: 10px -229px;
}

.wrapper .content .leftCol .left_nav ul li a.user_preferences span{
	background-position: 10px -270px;
}

.wrapper .content .leftCol .left_nav ul li a.newsletter span{
	background-position: 10px -312px;
}

.wrapper .content .leftCol .left_nav ul li a.products span{
	background-position: 10px -18px;
}

.wrapper .content .leftCol .left_nav ul li a.banners span{
	background-position: 10px -606px;
}

.wrapper .content .leftCol .left_nav ul li a.pages span{
	background-position: 10px -684px;
}

.wrapper .content .leftCol .left_nav ul li a.competitions span{
	background-position: 10px -684px;
}

.wrapper .content .leftCol .left_nav ul li a.elearning span{
	background-position: 10px -684px;
}


.wrapper .content .leftCol .left_nav ul li a.news span{
	background-position: 10px -356px;
}

.wrapper .content .leftCol .left_nav ul li a.pods span{
	background-position: 10px -396px;
}

.wrapper .content .leftCol .left_nav ul li a.forum span{
	background-position: 10px -438px;
}

.wrapper .content .leftCol .left_nav ul li a.event_log span{
	background-position: 10px -479px;
}

.wrapper .content .leftCol .left_nav ul li a.blog span{
	background-position: 10px -521px;
}

.wrapper .content .leftCol .left_nav ul li a.polls span{
	background-position: 10px -562px;
}

.wrapper .content .leftCol .left_nav ul li a.dynamic_forms span{
	background-position: 10px -604px;
}

.wrapper .content .leftCol .left_nav ul li a.galleries span{
	background-position: 10px -644px;
}


.wrapper .content .leftCol .left_nav ul li a:hover span{
    cursor: pointer;
}





.wrapper .content .leftCol .left_nav ul li.active a.content span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.content span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.content span,
.wrapper .content .leftCol .left_nav ul li a.content:hover span{
	background-position: -270px -14px;
}

.wrapper .content .leftCol .left_nav ul li.active a.assets span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.assets span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.assets span,
.wrapper .content .leftCol .left_nav ul li a.assets:hover span{
	background-position: -270px -642px;
}

.wrapper .content .leftCol .left_nav ul li.active a.navigation span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.navigation span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.navigation span,
.wrapper .content .leftCol .left_nav ul li a.navigation:hover span{
	background-position: -270px -102px;
}

.wrapper .content .leftCol .left_nav ul li.active a.settings span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.settings span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.settings span,
.wrapper .content .leftCol .left_nav ul li a.settings:hover span{
	background-position: -270px -143px;
}

.wrapper .content .leftCol .left_nav ul li.active a.spider span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.spider span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.spider span,
.wrapper .content .leftCol .left_nav ul li a.spider:hover span{
	background-position: -270px -186px;
}

.wrapper .content .leftCol .left_nav ul li.active a.user_management span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.user_management span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.user_management span,
.wrapper .content .leftCol .left_nav ul li a.user_management:hover span{
	background-position: -270px -229px;
}

.wrapper .content .leftCol .left_nav ul li.active a.user_preferences span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.user_preferences span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.user_preferences span,
.wrapper .content .leftCol .left_nav ul li a.user_preferences:hover span{
	background-position: -270px -270px;
}

.wrapper .content .leftCol .left_nav ul li.active a.newsletter span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.newsletter span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.newsletter span,
.wrapper .content .leftCol .left_nav ul li a.newsletter:hover span{
	background-position: -270px -312px;
}

.wrapper .content .leftCol .left_nav ul li.active a.news span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.news span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.news span,
.wrapper .content .leftCol .left_nav ul li a.news:hover span{
	background-position: -270px -356px;
}

.wrapper .content .leftCol .left_nav ul li.active a.pods span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.pods span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.pods span,
.wrapper .content .leftCol .left_nav ul li a.pods:hover span{
	background-position: -270px -396px;
}

.wrapper .content .leftCol .left_nav ul li.active a.event_log span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.event_log span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.event_log span,
.wrapper .content .leftCol .left_nav ul li a.event_log:hover span{
	background-position: -270px -479px;
}

.wrapper .content .leftCol .left_nav ul li.active a.forum span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.forum span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.forum span,
.wrapper .content .leftCol .left_nav ul li a.forum:hover span{
	background-position: -270px -438px;
}

.wrapper .content .leftCol .left_nav ul li.active a.blog span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.blog span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.blog span,
.wrapper .content .leftCol .left_nav ul li a.blog:hover span{
	background-position: -270px -521px;
}

.wrapper .content .leftCol .left_nav ul li.active a.polls span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.polls span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.polls span,
.wrapper .content .leftCol .left_nav ul li a.polls:hover span{
	background-position: -270px -562px;
}

.wrapper .content .leftCol .left_nav ul li.active a.dynamic_forms span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.dynamic_forms span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.dynamic_forms span,
.wrapper .content .leftCol .left_nav ul li a.dynamic_forms:hover span{
	background-position: -270px -604px;
}

.wrapper .content .leftCol .left_nav ul li.active a.galleries span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.galleries span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.galleries span,
.wrapper .content .leftCol .left_nav ul li a.galleries:hover span{
	background-position: -270px -644px;
}

.wrapper .content .leftCol .left_nav ul li.active a.banners span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.banners span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.banners span,
.wrapper .content .leftCol .left_nav ul li a.banners:hover span{
	
	background-position: -270px -606px;
}


.wrapper .content .leftCol .left_nav ul li.active a.pages span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.pages span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.pages span,
.wrapper .content .leftCol .left_nav ul li a.pages:hover span{
	
	background-position: -270px -684px;
}

.wrapper .content .leftCol .left_nav ul li.active a.products span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.products span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.products span,
.wrapper .content .leftCol .left_nav ul li a.products:hover span{
	
	background-position: -270px -18px;
}

.wrapper .content .leftCol .left_nav ul li.active a.competitions span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.competitions span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.competitions span,
.wrapper .content .leftCol .left_nav ul li a.competitions:hover span{
	
	background-position: -270px -684px;
}

.wrapper .content .leftCol .left_nav ul li.active a.elearning span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.elearning span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.elearning span,
.wrapper .content .leftCol .left_nav ul li a.elearning:hover span{
	
	background-position: -270px -684px;
}

.wrapper .content .leftCol .left_nav ul li.active a.orders span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.orders span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.orders span,
.wrapper .content .leftCol .left_nav ul li a.orders:hover span{
	
	background-position: -270px -60px;
}


.wrapper .content .leftCol .left_nav ul li.active a.social span, 
.wrapper .content .leftCol .left_nav ul li.firstactive a.social span,
.wrapper .content .leftCol .left_nav ul li.lastactive a.social span,
.wrapper .content .leftCol .left_nav ul li a.social:hover span{
	background-position: -270px -438px;
}



.wrapper .content .leftCol .left_nav ul li ul{
	background: transparent url(../images/leftnav_bkg_sprite.gif) no-repeat -229px bottom; 
	list-style-type: none;
	padding: 0 0 10px 0;
	margin: -2px 0 0 0;
}

.wrapper .content .leftCol .left_nav ul li.lastactive ul{
	background-position: -463px bottom;
}

.wrapper .content .leftCol .left_nav ul li ul li{
	margin-bottom: 4px;
	height: 15px;
	line-height: 15px;
}

.wrapper .content .leftCol .left_nav ul li ul li a{
    display:block;
    height: 15px !important;
    line-height: 15px !important;
    background-image: none;
}

.wrapper .content .leftCol .left_nav ul li ul li a span{
	display: block;
	height: 15px !important;
	line-height: 15px !important;
	padding:0 10px 0 45px;
	
	background: transparent url(../images/subnav_bullet_up.gif) no-repeat 30px 3px !important;
}


.wrapper .content .leftCol .left_nav ul li ul li a:hover span{
	color:#2F5B82;
	text-decoration: underline;
	background-image: url(../images/subnav_bullet_over.gif) !important;
}








/* right col--------------------------------------------------------------------------*/

.wrapper .content .rightCol{
	float: right;
	/*width: 800px;*/
	width: 770px;
	background: url(../images/layout/rightCol770_bkg_middle.jpg) repeat-y 0 0;
}


.wrapper .content .rightCol .rightColTop{
	padding: 20px 15px 0 15px;
	background: url(../images/layout/rightCol770_bkg_top.jpg) no-repeat 0 0;
}

.wrapper .content .rightCol .rightColTop *{
	margin: 0;
	padding: 0;
}

.wrapper .content .rightCol .breadcrumbs{
	
	list-style-type: none;
		
}

.wrapper .content .rightCol .breadcrumbs *{
	background-color: transparent;
}

.wrapper .content .rightCol .breadcrumbs li{
	float: left;
	
}

.wrapper .content .rightCol .breadcrumbs a.crumb, .wrapper .content .rightCol .breadcrumbs span.crumb{
	float: left;
	height: 13px;
	line-height: 13px;
	padding: 0 10px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #908f8f;
	text-decoration: none;
	
	background: url(../images/layout/breadcrumbs_bullet.gif) no-repeat left center;
}

.wrapper .content .rightCol .breadcrumbs a.crumb{
	text-decoration: underline;
}

.wrapper .content .rightCol .breadcrumbs a.crumb:hover{
	text-decoration: none;
}

.wrapper .content .rightCol .rightColContent{
	height: 215px;
	padding: 10px 15px;	
}

.wrapper .content .rightCol > .rightColContent{
	height: auto;
	min-height: 215px;	
	
}

.wrapper .content .rightCol .rightColBottom{
	height: 33px;
	clear: both;
	background: url(../images/layout/rightCol770_bkg_bottom.jpg) no-repeat left bottom;
}

.wrapper .content .rightCol > .rightColBottom{
	height: auto;
	min-height: 33px;
}


/* rightColContent --------------------------------------------------------------------------*/

.rightColContent h1{
	font-size: 24px;
	font-weight: bold;
	color: #326795;
	margin-bottom: 10px;
}

.rightColContent h4{
	color: #326795;
}

.rightColContent h2.frequent{
	font-size: 14px;
	font-weight: bold;
	color: #326694;
	padding: 15px;
	margin: 5px 0 5px 0;
	background-color: #f2f2f2;
}


.rightColContent p{
	color: #666666;
	font-size: 12px;
}

.rightColContent .frequent{
	list-style-type: none;
	margin: 0;
	margin-right: -5px;
	padding: 0;
}

.rightColContent .frequent *{
	margin: 0;
	padding: 0;
}

.rightColContent .frequent li{
	float: left;
	width: 243px;
	margin-right: 1px;
	margin-top:1px;
	border:1px solid #CCC;
	height: 126px;
}

.rightColContent .frequent li h3{
	background-color: #f2f2f2;
}

.rightColContent .frequent li h3 a{
	display: block;
	padding: 0 10px 0 60px;
	height: 52px;
	line-height: 52px;	
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}

.rightColContent .frequent li.content h3 a{
 	background: #f2f2f2 url(../images/icon/home_frequent/frequent_content.gif) no-repeat 0 0;
}

.rightColContent .frequent li.assets h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_assets.gif) no-repeat 0 0;
}

.rightColContent .frequent li.navigation h3 a{
	background: #f2f2f2 url(../images/icon/home_frequent/frequent_navigation.gif) no-repeat 0 0;
}

.rightColContent .frequent li.settings h3 a{
	background: #f2f2f2 url(../images/icon/home_frequent/frequent_settings.gif) no-repeat 0 0;
}

.rightColContent .frequent li.spider h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_search.gif) no-repeat 0 0;
}

.rightColContent .frequent li.orders h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_orders.gif) no-repeat 0 0;
}

.rightColContent .frequent li.user_management h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_user_management.gif) no-repeat 0 0;
}

.rightColContent .frequent li.social h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_forum.gif) no-repeat 0 0;
}

.rightColContent .frequent li.banners h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_dynamic_forms.gif) no-repeat 0 0;
}

.rightColContent .frequent li.pages h3 a, .rightColContent .frequent li.products h3 a,
    .rightColContent .frequent li.elearning h3 a, .rightColContent .frequent li.competitions h3 a
 {
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_banners.gif) no-repeat 0 0;
}


.rightColContent .frequent li.user_preferences h3 a{
	background: #f2f2f2 url(../images/icon/home_frequent/frequent_user_preferences.gif) no-repeat 0 0;
}

.rightColContent .frequent li.newsletter h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_newsletter.gif) no-repeat 0 0;
}

.rightColContent .frequent li.news h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_news.gif) no-repeat 0 0;
}

.rightColContent .frequent li.pods h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_pods.gif) no-repeat 0 0;
}

.rightColContent .frequent li.event_log h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_event_log.gif) no-repeat 0 0;
}

.rightColContent .frequent li.forum h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_forum.gif) no-repeat 0 0;
}

.rightColContent .frequent li.blog h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_blog.gif) no-repeat 0 0;
}

.rightColContent .frequent li.polls h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_polls.gif) no-repeat 0 0;
}

.rightColContent .frequent li.dynamic_forms h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_forms.gif) no-repeat 0 0;
}

.rightColContent .frequent li.galleries h3 a{
    background: #f2f2f2 url(../images/icon/home_frequent/frequent_galleries.gif) no-repeat 0 0;
}

.rightColContent .frequent li.banners h3 a{

}

.rightColContent .frequent li p{
	padding: 15px 5px;ont-size: 11px;
}

.rightColContent .frequent li h3 a:hover{
	text-decoration: none;
}

/* ----------------------------------------------------------------------------------*/



.FormAdminCol1 {width:121px;}
.FormAdminCol2 {/*width:642px;*/width:615px;}
.FormAdminCol2 input[type=radio]{width:20px;float:left;}
.FormAdminCol2 label .ImgL {float:none;display:inline;margin:0 5px 0 0;}
.InputDateCell .dp-choose-date {margin-top:2px;}
.FormAuto button {font-size:1.1em;}
.FormAuto th {background:#e6e6e6;}
.FormAuto td {background:#f2f2f2;}
.FormAuto th th, .FormAuto th td, .FormAuto td th, .FormAuto td td {background:none;border:none;padding:0;}
.BorderControl td, .BorderControl th {border-left:solid 1px #ffffff;border-bottom:solid 3px #ffffff;padding:5px 0;font-weight:100;}
.BorderControl label {padding:0 10px;display:block;font-size:11px; color:#555555;text-align:left;}
.BorderControl .Padder {padding-left:10px;padding-right:10px;  color:#555555;}
.FormAuto .InputRadio input {width:auto;float:left;} 
.FormAuto .InputRadio label {float:left;padding:0 0 0 5px;} 
.FormAuto .InputCheckBox input {width:14px;height:14px;float:left;} 
.FormAuto .InputCheckBox label {float:left;padding:0 0 0 5px;} 
#PastVersionsDiv {width:625px!important;height:55px!important;}
.FormInputBodyTextWYSIWYG .istoolbar {border:0px;}
.FormInputBodyTextWYSIWYG table {width:625px;margin:0 0 0 10px}
.FormAuto .FormInputBodyTextWYSIWYG table table {margin:0;}
.FormAuto .FormInputBodyTextWYSIWYG table table table table table table {width:auto;}

.FormAuto .FormInputBodyTextWYSIWYG table table table table td span {color:#000000;}

.FormInputBodyTextWYSIWYG .isdd_over {color:#999999;}
.FormAuto .InputCheckbox label {float:left;padding:0 0 0 5px;} 

.FormAuto .InputCheckbox label {float:left;padding:0 0 0 5px;} 

.ContentMain .FormAuto {/*padding:0 15px 0 15px;*/}
.ContentMain .FormAuto .BorderControl {
    width:100%;
    border-collapse: collapse;
    
}
.BorderControl{
    font-size: 11px !important;
}



#PopUp .FormAuto .BtnUp {width:80px;height:auto;}
#PopUp .FormAuto .BtnDown {width:80px;height:auto;}

.LocationCrumb {font-size:1.1em;padding:0 0 0 10px;}
.LocationCrumb span {color:#000000;}
.ContainerRight .ButtonRight, .PopUp .ButtonRight {float:right;padding:0 10px 0 0;}
.ContainerRight .ButtonRight input, .PopUp .ButtonRight input {margin-left:5px;}
.PopUp {text-align:center;}
.ManageSequence {width:480px;margin:0 auto;text-align:left;}
.PopUp .FormAuto {text-align:left;}
.ManageSequence_Selector {height:150px;}
.PopUp .FormAuto input, .PopUp .FormAuto textarea {width:90.5%;}
.PopUp .FormAuto select {width:93.2%;} 
.FormAutoSmall .FormAuto input, .FormAutoSmall .FormAuto textarea {width:92.5%;}
.FormAutoSmall .FormAuto select {width:93.7%;}
.Col_Buttonholder {width:100px;}
.FormAuto input, .FormAuto textarea {margin:0 0 0 10px;width:96%;height:12px;}
.FormAuto select {width:96.7%;margin:0 0 0 10px;}

.FormAuto .Date {padding:0 0 0 10px;}
.FormAuto .Date select {width:auto;margin:0 5px 0 0;}
.FormAuto textarea {height:80px;}

.FormAuto .ImageUpload {padding:0 10px;}
.FormAuto .ImageUpload label {white-space:nowrap;}
.FormAuto .ImageUpload table {width:100%;}
.FormAuto .ImageUpload table input {margin:0;width:247px;}
.FormAuto .ImageUpload table label {display:block;text-align:right;}
.FormInputBodyText table {width:100%;} 
.SelectStyle {width:155px;}
.SelectStyle select {margin:0 10px 0 19px;width:125px;}

.TableList {margin: 0px;}
.TableListHeader {background-color: #E6E6E6; color: #4C4C4C;}
.TableList td  {padding: 5px 5px 5px 5px;}
.TableRowDark {background-color: #EEEEEE; color: #666666;}
.TableLineGrey {
background-color: #CCCCCC;
height: 1px;
margin: 0px;
padding: 0px !important;
}

.body #Page .InputSpacer {margin-left:5px;}
.TableCell {padding: 5px;}

.ContentMain .BtnEdit, .ContentMain .BtnDelete, .ContentMain .BtnExport, .ContentMain .BtnFields {width:55px;padding-left:0px;padding-right:0px;text-align:center;}
.ContentMain .BtnCancel {}
.ContentHeaderParagraph{padding:10px;}


.UpdateDiv {display:none;background-color: #AAFFAA;border: solid 1px #7FD47F;padding: 5px;margin: 10px 0px 10px 0px; vertical-align: middle;}

.ErrorBox {
    /*background-color: #FFCC66;*/
    background-color: #D6D7D8; 
    /*border: solid 1px #CA7900;*/
    border: solid 1px #555555;
    padding: 5px;
    margin: 10px 0px 10px 0px; 
    color: #555555;
}

.ErrorBoxOutSide {background-color: #FFCC66; border: solid 1px #CA7900;padding: 5px;margin: 10px 15px 10px 15px; color: #000000; width:90%;}

.FormAuto .WidthAuto {width:auto;}
.FormAuto .cntContaineroEdit_ctl00$plcPageBody$contContent #cntContaineroEdit_ctl00$plcPageBody$contContent {width:625px;}
.FormAuto .FormInputBodyTextWYSIWYG img {display:inline;}
.PreviewArticle {
    padding:0 0 0 30px;
    font-size:1.3em;
    /*color:#f2743f;*/
    color: #666666;
    /*background:#415968 url(../images/icon/arrow-right-c0c0c0.gif) 0px 0px no-repeat;*/
    background:#D6D7D8 url(../images/icon/arrow-right-D6D7D8.gif) 0px 0px no-repeat;
    margin:0;
}
.PreviewArticle_FX {border-left:solid 2px #ffffff;height:30px;}
.PreviewArticle_Padding {padding:3px 0 0 10px;}
.PreviewArticle span {display:block;padding:2px 0 0 0;}

/* Login */
.Login .Page {width:1000px;padding:30px 0 0 0;}

.PageBody_Y {background:url(../images/background/login/PageBody_Y.gif) repeat-y left top;}
.PageBody_T {background:url(../images/background/login/PageBody_T.gif) no-repeat left top;}
.PageBody_B {background:url(../images/background/login/PageBody_B.gif) no-repeat left bottom;}

.PageBody_Border {border:solid 1px #ffff00;}
.PageBody_MinHeight {min-height:500px;height:auto !important;height:500px;}
.Login .CMSLogo {background:url(../images/logo/CMS-Logo.gif) no-repeat 880px 30px;float:none;height:auto;padding:140px 0 0 0;}

.ImageBevel {height:14px;}
.Admin h3 {font-size:1.6em;color:#415968;}
.Admin h4 {font-size:1.4em;padding:0 0 5px 0;}
.PopUp {background:#ffffff;}
.ContentHeading .ContentSearch {padding:0px 0 0 0;float:right;}
.ContentSearch table {}
.ContentSearch td {padding:0 0 0 5px;}
.ContentHeading .ContentSearch input {width:88px;margin-top:0px;}
.ContentSearch select {width:110px;}

/*.ContentMain_Padding {padding:0 15px;}*/






































.rightColContent .ContentSearch, .rightColContent .ImgR{
    float: right;
}

.DisplayTable {
    padding:14px 0 0 0;
    width: 100%;
    margin-top  10px;
}

.DisplayTable table{
    border-collapse: collapse;
    font-size: 11px;
}

table.Width100{
    width:100%;   
}

#Page .HiddenControl {visibility:hidden;width:0px;height:1px;overflow:hidden;}

.DisplayTable .Col_Edit, .DisplayTable .Col_Delete, .DisplayTable .Col_Export, 
.DisplayTable .Col_Fields, .DisplayTable .Col_Published 
{
    width:80px;
    text-align:center;
}

.DisplayTable .Col_Edit{
    width: 90px;
}

.DisplayTable .Col_Edit a{
    display: inline !important;
}

.DisplayTable .Col_Edit a img{
    float: none !important;
    display: inline !important;
}

.DisplayTable .Col_ManageOption {width:140px;text-align:center;}
.DisplayTable .Col_ManageOption img {margin:0 auto;}
.DisplayTable .Col_Published img {margin:0 auto;}
.DisplayTable .Col_NumberOfLinks {width:120px;text-align:left;}
.DisplayTable .Col_Date {width:90px;text-align:left;}
 

.DisplayTable thead td, .DisplayTable .TableListHeader th {background:transparent url(../images/background/NavV_LeftNav_X326795.gif) repeat-x scroll left top;
border-bottom:0px solid #DEDEDE;font-size:1.1em;color:#ffffff;font-weight:700;line-height:1em;}

.DisplayTable thead a {text-decoration:none; font-size:11px;color:#ffffff;}
.DisplayTable .NoBorder td{}
.DisplayTable td, .DisplayTable th {border-left:solid 1px #ffffff;border-right:solid 1px #ffffff;}
.DisplayTable .InputRadio td, .DisplayTable .InputRadio th {border:none;}
.DisplayTable table button {color:#336699;}
.DisplayTable table div {display:block;min-height:24px;height:auto !important;height:24px;}
.DisplayTable table div.Clear {height:1px!important;min-height:1px!important;}
.DisplayTable table span {display:block;padding:4px 14px 4px 14px;}
.DisplayTable table span span {padding:0;}

.DisplayTable table .pagingSection span, .DisplayTable table .pagingSection a {padding:3px 5px 3px 0;display:block;}
.DisplayTableWidth {width:100%;}
.DisplayTable table .pagingSection span{padding:3px 14px 4px 14px;}
.DisplayTable thead .ArrowLeft div {
background:transparent url(../images/icon/Arrow_Right.gif) no-repeat scroll 3px top;

}
.DisplayTable thead .ArrowDown div {
background:transparent url(../images/icon/Arrow_Down326795.gif) no-repeat scroll -6px 8px;
color:White;

}
.DisplayTable thead .ArrowUp div {
background:transparent url(../images/icon/Arrow_Up326795.gif) no-repeat scroll -6px 8px;
color:White;

}

.DisplayTable th .thead .ArrowDown{
background:transparent url(../images/icon/Arrow_Down326795.gif) no-repeat scroll -6px 8px;
color:White;
}
.DisplayTable th .thead .ArrowUp{
background:transparent url(../images/icon/Arrow_Up326795.gif) no-repeat scroll -6px 8px;
color:White;

}
.DisplayTable th .thead a{
color:White;

}

.TableRowDark {
    background-color:#EEEEEE;
    color:#666666;
}

#Page .InputDateCellType input {float:left;width:100px;}
.Alternate td {background:#eeeeee;}

.dp-applied {float:left;}
.dp-choose-date {float:left;}
.InputDateCell {width:135px;}
.InputDate24Hr select {width:40px;}
.InputDate60Minute select {width:40px;margin-right:10px;}
.Padding5{ padding: 5px 5px 5px 5px;}

.dhtmlgoodies_tree img {display:inline;}

#ctl00_plcPageBody_uPanel1{
    color: #666666;
}

#ctl00_plcPageBody_uPanel1 li{
    font-size: 11px !important;
}

/* login box --------------------------------------------------------------------------*/

.content .login_box{
	width: 587px;
	height: 355px;
	margin: 30px auto;
	padding: 20px 0;
	
	background: url(../images/layout/login_box.jpg) no-repeat 0 0;
	
}

.content .login_box *{
	margin: 0;
	padding: 0;
	
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
}

.content .login_box h1{
	padding: 10px 0 10px 210px;
	font-size: 30px;
	color:#326795;
}

.content .login_box p{
	margin: 0 0 10px 0;
}

.content .login_box p label{
	float: left;
	width: 200px;
	padding-right: 10px;
	text-align: right;
	line-height: 20px;
}

.content .login_box p input.txt{
	padding: 2px 0;
	width: 200px;
}

.content .login_box p.noLabel{
	padding-left: 210px;
}

.content .login_box p.trademark{
	padding: 10px 40px;
	text-align: right;
}

.content .login_box p.trademark span.alpha{
	font-size: 16px;
}

.content .login_box p.trademark span.orange{
	color: #E76024;
	font-size: 16px;
}




/* footer --------------------------------------------------------------------------*/

.footer{
	clear: both;
	height: 40px;
	line-height: 40px;
	padding-left:230px;
	margin-bottom: 50px;
}

.footer *{
	margin: 0;
	padding: 0;
	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #666666;
}

.footer p{
	height: 40px;
	line-height: 40px;
}

.footer p.trademark{
	float: left;
}

.footer p.alphasalmon{
	float: right;
}

.footer p.alphasalmon .orange{
	font-weight: normal;
	color: #e76024;
}






























