﻿body {font-family:Helvetica, Arial, sans-serif;margin:0;text-align:center;font-size:11px;text-align:left;}

p {}
body a:link{color:#00ABBD!important;text-decoration:none!important;}
body a{color:#00ABBD!important;text-decoration:none!important;}
.SubHeading {font-family:Helvetica, Verdana, tets, Arial, sans-serif;font-size:13pt;font-weight:700;color:#fb9b13!important;line-height:18pt;}

body ul {list-style:none;padding:0;}
body ul li {background:url(../../..asset/img/icon/list-arrow-right.gif) no-repeat 0 0.3em;padding:0 0 10px 10px;}

.ListNormal li {background:url(../../..asset/img/icon/list-style-disc.gif) no-repeat 0 0.4em;display:block;padding:0 0 10px 10px;color:#000000;}
